@import "styles/globals.scss";

.input {
  .label {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 8px;
  }
  :global(.ant-form-item-label){
    label{
      color: $black !important;
    }
  }
}
