@import 'styles/globals.scss';

$childrenHeight: 290px;

.content {
  display: flex;
  flex-direction: column;
  background-color: $white;
  min-height: 100vh;

  .main {
    align-self: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1920px;
    flex: 1;
    overflow-x: scroll;
  }
  .children {
    display: flex;
    flex-direction: column;
    flex-basis: 760px;
    flex-shrink: 1;
    flex-grow: 2;
    width: 100%;
  }

  &.is-mobile .children {
    width: 100%;
  }
}
