@import 'styles/globals.scss';

.sidebarContainer {
  margin-left: 46px;
  margin-top: 46px;
  width: 200px;
  .active {
    color: $primaryThemeColor;
  }
  .title {
    cursor: pointer;
  }
  :global(.ant-menu-item-selected) {
    color: $primaryThemeColor;
    background-color: white !important;
    background-image: none !important;
  }

  :global(.ant-menu-item:hover) {
    color: $primaryThemeColor;
    background-color: white !important;
    background-image: none !important;
  }

  :global(.ant-menu-item::after) {
    border-right: 0;
  }
  :global(.ant-menu-vertical) {
    border: none !important;
  }
}
