@import 'styles/globals.scss';

.button {
  height: 38px;
  width: max-content;
  font-weight: $fontWeightMedium;
  border: 0;

  font-weight: $fontWeightMedium;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.08em;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  &.is-disabled {
    opacity: 0.6;
    cursor: unset;
  }

  &.primary {
    border: 1px solid $primaryThemeColor;
    border-radius: 200px;
    color: $primaryThemeColor;
  }

  .red {
    color: $primaryThemeColor !important;
  }

  &.default {
    background-color: transparent;
  }

  &.is-bordered {
    border-radius: 200px;
    border: 1px solid;
  }

  &.ghost {
    background-image: $backgroundImage;
    color: $white;
  }

  &.default {
    color: $primaryThemeColor;
  }
}
