@import 'styles/globals';

.container {
  display: flex;
}

.content {
  color: black;
  display: block;
  min-height: $minCellHeight;
  padding-right: .5rem;
}

.iconWrapper {
  margin-right: 6px;
}

.pink {
  color: #FE019A;
}

.green {
  color: #219653
}
