@import 'styles/globals.scss';

.switch {
  display: flex;
  align-items: center;

  :global(.ant-switch-checked) {
    background-color: $primaryThemeColor !important;
    border-color: $primaryThemeColor;
  }

  .title {
    margin-left: 16px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: rgba(0, 0, 0, 0.87);
  }
}
