$borderColor: rgba(0, 0, 0, 0.06);
$gray: gray;
$black: black;
$blue: #1890ff;
$white: white;
$lightgray: lightgray;
$darkgray: #434343;
$backgroundColor: #ffffff;
$lightblue: #bae7ff;
$antdBlue: #1890ff;
$yellow: #faad14;
$antdPurple: #722ed1;
$antdGreen: #52c41a;
$antdOrange: #fa8c16;
$primaryThemeColor: #00843d;

// black and white
$black: #000;
$white: #fff;
$gray: #888888;
$darkGray: #434343;
$silver: #bfbfbf;
$alto: #d4d4d4;
$alto2: #d9d9d9;

// blue
$blue: #0f4bff;
$lightBlue: #bbe6f0;
$fadedBlue: #cfdbff;
$nepal: #96b8c0;

// orange and yellow
$darkOrange: #f56600;
$lightOrange: #ff8633;

// red and pink
$fire: #ae2a00;
$red: #ed213c;

$backgroundImage: linear-gradient(90deg, #00843d, #ffcd00);
