@import 'styles/globals.scss';

.radio {
  :global(.ant-radio-checked .ant-radio-inner) {
    border-color: $primaryThemeColor;
  }
  :global(.ant-radio-checked .ant-radio-inner:after) {
    background-color: $primaryThemeColor;
  }
  .title {
    margin-bottom: 8px;
  }
}
