@import "styles/globals.scss";

.calendar {
  :global(.fc-button-primary) {
    background-color: white !important;
    border-color: grey !important;
    box-shadow: none !important;
    color: grey;
  }
  :global(.fc-button-primary:hover) {
    background-color: white !important;
    border-color: grey !important;
    box-shadow: none !important;
    color: grey;
  }
}

.dayHeader {
  width: 24px;
  height: 24px;
  left: 3549px;
  top: 778px;

  font-family: Banana Grotesk;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 24px;
  color: #000000;

  opacity: 0.8;
}

.dateHeader {
  width: 15px;
  height: 24px;
  left: 3552px;
  top: 802px;

  font-family: Banana Grotesk;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #000000;

  opacity: 0.8;
}

.eventContent{
  background-image: $backgroundImage;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.tooltip{
  background-color: $white;
}
