@import 'styles/globals.scss';

$secondaryTextColor: rgba(0, 0, 0, 0.45);
$primaryTextColor: $primaryThemeColor;

.statisticsCard {
  color: $secondaryTextColor;
  margin-bottom: 1rem;

  :global(.ant-card-body) {
    border-radius: $borderRadius;
    padding: 24px 24px 10px 24px;
    :global(.ant-card-meta-title) {
      color: rgba(0,0,0,.45)
    }    
  }

  :global(.ant-card-meta) {
    padding: 0px 10px 10px 0px;
  } 
}

.active {   
  :global(.ant-card-body) {
    background-image: $backgroundImage;     
    * {
      color: white !important;  
    } 
  }
}
