@import "styles/globals.scss";

.sidebarContainer {
  background-color: #fafafa;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  height: 100%;
  border-right: 1px solid #d9d9d9;
  bottom: 0;
  width: 220px;
  padding-top: 61px;

  :global(.ant-menu-item-selected) {
    background-image: $backgroundImage !important;
    color: white;
  }

  :global(.ant-menu-item) {
    height: 40px;
    line-height: 22px;
    font-size: 16px;
    margin:0 !important;
  }

  :global(.ant-menu-item:hover) {
    background-image: $backgroundImage !important;
    color: white;
  }

  :global(.ant-menu-item::after){
    border-right: 0ch;
  }
}

.sidebarMenus {
  background-color: #fafafa;
}
