@import 'styles/globals';

.container {
  display: flex;
  width: $barLength;
  height: $barLength;
  justify-content: center;
  align-items: center;
  margin-left: 32px;
  
  &.is-mobile{
    height: 44px;
    margin-left: 12px;
  }

  .logo {
    height: 54px;
    cursor: pointer;
  }
}