@import 'styles/globals.scss';

.textLink {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
}
